@keyframes first_dot_red_change {
	0% {
		color: rgb(255, 0, 0);
	}
	
	50% {
		color: rgb(125, 0, 0);
	}
	
	100% {
		color: rgb(0, 0, 0);
	}
}

@keyframes second_dot_red_change {
	0% {
		color: rgb(125, 0, 0);
	}
	
	50% {
		color: rgb(255, 0, 0);
	}
	
	100% {
		color: rgb(0, 0, 0);
	}
}

@keyframes third_dot_red_change {
	0% {
		color: rgb(0, 0, 0);
	}
	
	50% {
		color: rgb(125, 0, 0);
	}
	
	100% {
		color: rgb(255, 0, 0);
	}
}

@-webkit-keyframes first_dot_red_change {
	0% {
		color: rgb(255, 0, 0);
	}
	
	50% {
		color: rgb(125, 0, 0);
	}
	
	100% {
		color: rgb(0, 0, 0);
	}
}

@-webkit-keyframes second_dot_red_change {
	0% {
		color: rgb(125, 0, 0);
	}
	
	50% {
		color: rgb(255, 0, 0);
	}
	
	100% {
		color: rgb(0, 0, 0);
	}
}

@-webkit-keyframes third_dot_red_change {
	0% {
		color: rgb(0, 0, 0);
	}
	
	50% {
		color: rgb(125, 0, 0);
	}
	
	100% {
		color: rgb(255, 0, 0);
	}
}

.load_qr, .waiting {
	visibility: hidden;
}

.navbar {
	background-color: rgb(255, 150, 0);
}

.navbar-toggle {
	background-color: rgb(0, 10, 255);
}

.noscript {
	position: relative;
	top: 30px;
}

.waiting.show {
	visibility: visible;
}

.first_waiting_dot {
	animation: first_dot_red_change 75ms infinite;
	-webkit-animation: first_dot_red_change 75ms infinite;
}

.second_waiting_dot {
	animation: second_dot_red_change 75ms infinite;
	-webkit-animation: second_dot_red_change 75ms infinite;
}

.third_waiting_dot {
	animation: third_dot_red_change 75ms infinite;
	-webkit-animation: third_dot_red_change 75ms infinite;
}