/* Barell roll Easter egg */
@keyframes barell_roll {
	from {
		transform: rotate(0deg);
	}
	
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes barell_roll {
	from {
		transform: rotate(0deg);
	}
	
	to {
		transform: rotate(360deg);
	}
}

@keyframes first_dot_red_change {
	0% {
		color: rgb(255, 0, 0);
	}
	
	50% {
		color: rgb(125, 0, 0);
	}
	
	100% {
		color: rgb(0, 0, 0);
	}
}

@keyframes second_dot_red_change {
	0% {
		color: rgb(125, 0, 0);
	}
	
	50% {
		color: rgb(255, 0, 0);
	}
	
	100% {
		color: rgb(0, 0, 0);
	}
}

@keyframes third_dot_red_change {
	0% {
		color: rgb(0, 0, 0);
	}
	
	50% {
		color: rgb(125, 0, 0);
	}
	
	100% {
		color: rgb(255, 0, 0);
	}
}

@-webkit-keyframes first_dot_red_change {
	0% {
		color: rgb(255, 0, 0);
	}
	
	50% {
		color: rgb(125, 0, 0);
	}
	
	100% {
		color: rgb(0, 0, 0);
	}
}

@-webkit-keyframes second_dot_red_change {
	0% {
		color: rgb(125, 0, 0);
	}
	
	50% {
		color: rgb(255, 0, 0);
	}
	
	100% {
		color: rgb(0, 0, 0);
	}
}

@-webkit-keyframes third_dot_red_change {
	0% {
		color: rgb(0, 0, 0);
	}
	
	50% {
		color: rgb(125, 0, 0);
	}
	
	100% {
		color: rgb(255, 0, 0);
	}
}

/* Barell roll Easter egg */ 
.container.roll {
	animation: barell_roll 2000ms;
	-webkit-animation: barell_roll 2000ms;
}

input.load_qr, .waiting {
	display: none;
}

.navbar {
	border-color: rgb(255, 150, 0);
}

.navbar img {
	opacity: 0.5;
}

.navbar a:hover img {
	opacity: 1;
}

.navbar span {
	color: rgb(0, 0, 255);
}

.navbar a:hover span {
	color: rgb(0, 0, 150);
}

.navbar > li {
	text-indent: center;
}

.noscript {
	position: relative;
	top: 30px;
}

.waiting.show {
	display: block;
}

.waiting_dots {
	font-size: 30px;
}

.first_waiting_dot {
	animation: first_dot_red_change 75ms infinite;
	-webkit-animation: first_dot_red_change 75ms infinite;
}

.second_waiting_dot {
	animation: second_dot_red_change 75ms infinite;
	-webkit-animation: second_dot_red_change 75ms infinite;
}

.third_waiting_dot {
	animation: third_dot_red_change 75ms infinite;
	-webkit-animation: third_dot_red_change 75ms infinite;
}